.container{
    margin-bottom: 20px;
}
.row{
    display: flex; 
}
.span{
font-size: 15px;
display: flex;
justify-content: space-between;
}

.albumimg{
    height: 150px;
    width: 235px;
    align-items: center;
}

.card-title{
    font-size: 13px;
    text-align: left;
}
