 .header {
    position:sticky ;
    top: 0;
    z-index: 100; 
    width: 100%;
    justify-content: space-between;
 }

 .navbar_logo {
     height: 60px;
     object-fit: contain;
     width: 150px;
     margin: 0px;
 }

.underline{
    text-decoration: none;
}
.mytime{
    font-size: 16px;
    font-weight: 500;
}