.profile {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.profile_con{
    width: 300px;
    height: fit-content;
    border-radius: 5px;
    border: 2px solid black;
    padding: 20px;
    background-color: white ;
    margin-bottom: 5px;
}

.profile_con > h1 {
    font-weight: 500;
    margin-bottom: 40px;
    text-align: center;
}

